<div class="container">

  <div class="row">
    <div class="col-xs-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <%= text_area_tag 'content', nil, :rows => 3, :class => "form-control", :placeholder => "Your content goes here" %>
        </div>
      </div>
    </div>
  </div>

</div>